################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/new-wr-api/DesignTimeBuild/.dtbcache.v2
/.vs/new-wr-api/FileContentIndex/9db08495-fbe9-4d56-987d-775bd22da8c9.vsidx
/.vs/new-wr-api/FileContentIndex/caff82b5-0c54-4239-83bf-a3f51c585aea.vsidx
/.vs/new-wr-api/config/applicationhost.config
/.vs/new-wr-api/FileContentIndex/ec6a160c-ab60-49e4-b379-8159892bab9b.vsidx
/.vs/new-wr-api/FileContentIndex/e79af506-28a5-40bd-939e-acde5037b328.vsidx
/.vs/new-wr-api/FileContentIndex/c5f782a0-c974-40df-a9d6-e8b5d6b3c4c5.vsidx
/.vs/new-wr-api/v17/.futdcache.v2
/.vs/ProjectEvaluation/new-wr-api.projects.v6.1
/.vs/ProjectEvaluation/new-wr-api.metadata.v6.1
/new-wr-api/bin/Debug/net7.0/System.Windows.Extensions.dll
/new-wr-api/bin/Debug/net7.0/System.Security.Permissions.dll
/new-wr-api/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/new-wr-api/bin/Debug/net7.0/System.Runtime.Caching.dll
/new-wr-api/bin/Debug/net7.0/System.Memory.Data.dll
/new-wr-api/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/new-wr-api/bin/Debug/net7.0/System.Drawing.Common.dll
/new-wr-api/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/new-wr-api/bin/Debug/net7.0/System.CodeDom.dll
/new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/new-wr-api/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/new-wr-api/bin/Debug/net7.0/new-wr-api.runtimeconfig.json
/new-wr-api/bin/Debug/net7.0/new-wr-api.pdb
/new-wr-api/bin/Debug/net7.0/new-wr-api.exe
/new-wr-api/bin/Debug/net7.0/new-wr-api.dll
/new-wr-api/bin/Debug/net7.0/new-wr-api.deps.json
/new-wr-api/bin/Debug/net7.0/Mono.TextTemplating.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.OpenApi.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Identity.Client.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
/new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/new-wr-api/bin/Debug/net7.0/Humanizer.dll
/new-wr-api/bin/Debug/net7.0/Azure.Identity.dll
/new-wr-api/bin/Debug/net7.0/Azure.Core.dll
/new-wr-api/bin/Debug/net7.0/appsettings.json
/new-wr-api/bin/Debug/net7.0/appsettings.Development.json
/.vs/new-wr-api/config/applicationhost.config
/.vs/new-wr-api/DesignTimeBuild/.dtbcache.v2
*.pdb
*.CopyComplete
*.cache
*.props
.vs/new-wr-api/config/applicationhost.config
.vs/new-wr-api/DesignTimeBuild/.dtbcache.v2
.vs/new-wr-api/FileContentIndex/02ea87a5-12fc-44f9-a4b9-804e37467b88.vsidx
.vs/new-wr-api/FileContentIndex/1ee498f7-a616-44d4-99a0-5cd399c7fe92.vsidx
.vs/new-wr-api/FileContentIndex/6c0dc5e9-4358-4816-b397-cc929f18dc28.vsidx
.vs/new-wr-api/FileContentIndex/f2404d4a-325a-4d3f-afdf-551b99d142c9.vsidx
.vs/new-wr-api/v17/.futdcache.v2
.vs/new-wr-api/v17/.suo
.vs/ProjectEvaluation/new-wr-api.metadata.v6.1
.vs/ProjectEvaluation/new-wr-api.projects.v6.1
new-wr-api/bin/Debug/net7.0/appsettings.Development.json
new-wr-api/bin/Debug/net7.0/appsettings.json
new-wr-api/bin/Debug/net7.0/Azure.Core.dll
new-wr-api/bin/Debug/net7.0/Azure.Identity.dll
new-wr-api/bin/Debug/net7.0/Humanizer.dll
new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
new-wr-api/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
new-wr-api/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Identity.Client.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
new-wr-api/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
new-wr-api/bin/Debug/net7.0/Microsoft.OpenApi.dll
new-wr-api/bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
new-wr-api/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
new-wr-api/bin/Debug/net7.0/Mono.TextTemplating.dll
new-wr-api/bin/Debug/net7.0/new-wr-api.deps.json
new-wr-api/bin/Debug/net7.0/new-wr-api.dll
new-wr-api/bin/Debug/net7.0/new-wr-api.exe
new-wr-api/bin/Debug/net7.0/new-wr-api.pdb
new-wr-api/bin/Debug/net7.0/new-wr-api.runtimeconfig.json
new-wr-api/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
new-wr-api/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
new-wr-api/bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
new-wr-api/bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
new-wr-api/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
new-wr-api/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
new-wr-api/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
new-wr-api/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
new-wr-api/bin/Debug/net7.0/System.CodeDom.dll
new-wr-api/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
new-wr-api/bin/Debug/net7.0/System.Drawing.Common.dll
new-wr-api/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
new-wr-api/bin/Debug/net7.0/System.Memory.Data.dll
new-wr-api/bin/Debug/net7.0/System.Runtime.Caching.dll
new-wr-api/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
new-wr-api/bin/Debug/net7.0/System.Security.Permissions.dll
new-wr-api/bin/Debug/net7.0/System.Windows.Extensions.dll
new-wr-api/obj/Debug/net7.0/new-wr-api.AssemblyInfo.cs
new-wr-api/obj/Debug/net7.0/new-wr-api.AssemblyInfoInputs.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.assets.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.csproj.AssemblyReference.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.csproj.CopyComplete
new-wr-api/obj/Debug/net7.0/new-wr-api.csproj.CoreCompileInputs.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.csproj.FileListAbsolute.txt
new-wr-api/obj/Debug/net7.0/new-wr-api.dll
new-wr-api/obj/Debug/net7.0/new-wr-api.GeneratedMSBuildEditorConfig.editorconfig
new-wr-api/obj/Debug/net7.0/new-wr-api.genruntimeconfig.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.MvcApplicationPartsAssemblyInfo.cache
new-wr-api/obj/Debug/net7.0/new-wr-api.MvcApplicationPartsAssemblyInfo.cs
new-wr-api/obj/Debug/net7.0/new-wr-api.pdb
new-wr-api/obj/Debug/net7.0/ref/new-wr-api.dll
new-wr-api/obj/Debug/net7.0/refint/new-wr-api.dll
new-wr-api/obj/Debug/net7.0/staticwebassets.build.json
new-wr-api/obj/Debug/net7.0/staticwebassets/msbuild.build.new-wr-api.props
new-wr-api/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.new-wr-api.props
new-wr-api/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.new-wr-api.props
new-wr-api/obj/project.nuget.cache
